.react_header {
    background: var(--color-green);
}
.react_wrapper_info {
    color: var(--color-white);
}
.react_header-h1 {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 100px;
    font-size: 90px;
}
.react_wrapper_img img{
    width: 80%;
}

@media screen and (min-width: 2000px) {
    .react_header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .react_header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .react_header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .react_header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
}
